<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Profiili</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link href="/css/messages.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Somesivu</h1>
        </div>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul th:if="${profileId != null}" class="navbar-nav mr-auto">
                    <form method="POST" th:action="@{/logout}" action="/logout">
                        <li class="nav-item">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Kirjaudu ulos</button>
                        </li> 
                    </form>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile/} + ${profileId}">Seinä</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/gallery/} + ${profileId}">Kuva-albumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/friends}">Kaverit</a>
                    </li>  

                </ul>
                <ul th:unless="${profileId != null}" class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Kirjaudu sisään</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Rekisteröidy</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="GET" th:action="@{/search}" action="/search">
                    <input class="form-control mr-sm-2" name="name" type="text" placeholder="Nimi" aria-label="Etsi käyttäjiä">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi käyttäjiä</button>
                </form>
            </div>  
        </nav>

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-3">      
                    <div th:if="${avatarId == null}" class="defaultavatar">
                        <p class="initials">?</p>
                    </div>
                    <img th:unless="${avatarId == null}" class="img-fluid" th:src="@{/gallery/image/{id}(id=${avatarId})}"/>
                    <h5 th:text="${profile.owner.name}">nimi</h5>
                    <form th:unless="${isFriend} or ${isOwner}" sec:authorize="hasAuthority('ROLE_POSTER')" method="POST" th:action="@{/friendrequest/{id}(id=${profile.owner.id})}" action="/friendrequest">
                        <button type="submit" class="btn btn-link">Lähetä kaveripyyntö</button>
                    </form>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/profile/} + ${profile.id}">Seinä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/gallery/} + ${profile.id}">Kuva-albumi</a>
                        </li>
                    </ul>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-9">
                    <h2> Uusimmat kommentit</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="message, iter : ${messages}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${message.sender.name}">Lähettäjä</h5>
                                <small th:text="${#temporals.format(message.datetime, 'dd-MM-yyyy HH:mm')}">Päivämäärä</small>
                            </div>

                            <p class="mb-1" th:text="${message.content}">Viesti</p>
                            <div class="d-flex w-100">
                                <form th:if="${isFriend} or ${isOwner}" sec:authorize="hasAuthority('ROLE_POSTER')" method="POST" th:action="@{/profile/message/like/} + ${message.id}" action="/message/like">
                                    <button type="submit" class="btn btn-link btn-anchor">tykkää</button>
                                </form>
                                <button th:if="${isFriend} or ${isOwner}" class="btn btn-link btn-anchor" type="button" data-toggle="collapse" th:href="'#replyMessage' + ${message.id}">vastaa</button>
                                <span class="text-success ml-auto" th:text="'+' + ${message.numberOfLikes}">0</span>
                            </div>
                            <div th:if="${isFriend} or ${isOwner}" class="collapse" th:id="'replyMessage' + ${message.id}" style="margin-top:20px">
                                <form class="form-group" sec:authorize="hasAuthority('ROLE_POSTER')" method="POST" th:action="@{/profile/reply/} + ${message.id}" action="/profile/reply">
                                    <textarea class="form-control" name="content" rows="3"></textarea>
                                    <button class="btn btn-default" type="submit">Lähetä vastaus</button>
                                </form>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" th:each="reply : ${replies[iter.index]}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1" th:text="${reply.sender.name}">Lähettäjä</h5>
                                        <small th:text="${#temporals.format(reply.datetime, 'dd-MM-yyyy HH:mm')}">Päivämäärä</small>
                                    </div>
                                    
                                        <p class="mb-1" th:text="${reply.content}">Viesti</p>
                                        <div class="d-flex w-100">
                                        <form th:if="${isFriend} or ${isOwner}" sec:authorize="hasAuthority('ROLE_POSTER')" method="POST" th:action="@{/profile/reply/like/} + ${reply.id}" action="/reply/like">
                                            <button type="submit" class="btn btn-link btn-anchor">tykkää</button>
                                        </form>
                                        <span class="text-success ml-auto" th:text="'+' + ${reply.numberOfLikes}">0</span>
                                    </div>
                                </li> 
                            </ul>

                        </li>                            
                    </ul> 

                    <form id="newMessageForm" th:if="${isFriend} or ${isOwner}" class="form-group" sec:authorize="hasAuthority('ROLE_POSTER')" method="POST" th:action="@{/profile/message/} + ${profile.id}" action="/profile/message">
                        <textarea id="newMessageTextarea" class="form-control" name="content" rows="3"></textarea>
                        <button class="btn btn-primary" type="submit">Lähetä viesti</button>
                    </form>          
                </div>
            </div>
        </div>

        <div class="jumbotron text-center" style="margin-bottom:0">
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
